# Maven specific
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDE specific
.idea/
*.iml
*.ipr
*.iws
/.idea/

# Eclipse specific
.classpath
.project
.settings/

# NetBeans specific
/nbproject/private/
/nbproject/build/
/nbbuild/
/dist/
/nbactions.xml

# Compiled Java classes
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# OS-specific files
.DS_Store
Thumbs.db
